.mystyle {
  border: none;
  border-collapse: collapse;
  border-spacing: 0; 
  font-size: 14px;
  width: 100%;
  table-layout: fixed;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  color: rgba(0,0,0,.87);
  text-align: center;
  position: relative;
  zoom: 0.9;
}

.mystyle thead {
  vertical-align: bottom;
}

h1 {
  text-align: center;
  margin-bottom: 1em;
  font-weight: bold;
  font-family: 'Lato', sans-serif; 
  font-size: 1px;
}

.mystyle tr, th {
  vertical-align: middle; /*text-align: right;*/
  padding: 0.5em 0.5em;
  line-height: normal;
  white-space: normal;
  max-width: none;
}

.mystyle tbody > tr > td {
  vertical-align: middle; /*text-align: right;*/
  padding: 0.5em 0.5em;
  line-height: normal;
  overflow: hidden;
}
.mystyle td:nth-child(0){text-transform: lowercase;}
.mystyle td:nth-child(0)::first-letter {text-transform: uppercase;}
.mystyle td:nth-child(2){text-transform: lowercase;}
.mystyle td:nth-child(2)::first-letter {text-transform: uppercase;}
.mystyle td:nth-child(4){text-transform: capitalize;}
.mystyle td:nth-child(7){text-transform: capitalize;}
.mystyle td:nth-child(n+10):nth-child(-n+12){text-transform: capitalize;}

.mystyle option {
text-transform: capitalize;}

/* KEEP HEADER VISIBLE WHILE SCOLLING */
.mystyle thead > tr > th {
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  position: sticky;
  top: 0;
  text-transform: uppercase;
}

.mystyle thead th:nth-child(1) {width:8%;} /* Authors */
.mystyle thead th:nth-child(2) {width: 13%;} /* Title */
.mystyle thead th:nth-child(3) {width: 8%;} /* Journal */
.mystyle thead th:nth-child(4) {width: 13%;} /* Keywords*/
.mystyle thead th:nth-child(n+5):nth-child(-n+9) {width: 5%;} /* Year, Country, Disease, IBmodel, Output, Study type, Subject, Treatment, DOI */
.mystyle thead th:nth-child(10) {width: 7%;} /* Year, Country, Disease, IBmodel, Output, Study type, Subject, Treatment, DOI */
.mystyle thead th:nth-child(11) {width: 5%;} /* Year, Country, Disease, IBmodel, Output, Study type, Subject, Treatment, DOI */
.mystyle thead th:nth-child(12) {width: 7%;} /* Year, Country, Disease, IBmodel, Output, Study type, Subject, Treatment, DOI */
.mystyle thead th:nth-child(13) {width: 5%;} /* Year, Country, Disease, IBmodel, Output, Study type, Subject, Treatment, DOI */
.mystyle thead th:nth-child(14) {width: 10%;} /* Note */

.mystyle td:nth-child(14) {white-space: pre-line;} /* Note */

.mystyle th.rotated-text {
    height: 50px;
}
/*
.mystyle th.rotated-text > div {
    transform:
        translate(20px, 0px)
        rotate(320deg);
    width: 30px;
}*/

.mystyle tfoot > tr:nth-child(1) {
  font-size: 15px;
  text-transform: uppercase;
} /* Authors */
